html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
body,html{width:100%;height:100%;font-size:62.5%;font-family:"微软雅黑";}
li{list-style:none;}
button:focus,input:focus{outline:none;}
a{text-decoration:none;}*{box-sizing:border-box;}
table{border-collapse: collapse;border-spacing:0;}
.d-t{display:table;width:100%;}.d-c{display:table-cell;}
.wid-30{width:30%;}.wid-70{width:70%;}.wid-100{width:100%;}
.ht-10{height:10%;}.ht-90{height:90%;}.ht-100{height:100%;}
.t-c{text-align:center;text-align-last:center;}.t-l{text-align:left;}.t-r{text-align:right;}
.mt-10{margin-top:10px;}.mb-10{margin-bottom:10px;}.mb-20{margin-bottom:20px;}
.p-r{position:relative;}
/*layout*/
body{padding-top:100px;}
.topbar{width:100%;height:100px;background:#3F74C9;margin-top:-100px;}
.topbar-line{width:100%;height:8px;background:#3E5998;position:absolute;left:0;bottom:0;z-index:999;}
.content{width:100%;height:100%;padding-left:270px;}
.content .sec-nav{width:270px;height:100%;background:#3C3F4D;margin-left:-270px;float:left;}
.content .main-content{width:100%;height:100%;background:#EEEEF4;padding-top:200px;}
.main-condition{width:100%;height:200px;margin-top:-200px;}
.main-condition-top{width:100%;height:30px;background:#454858;}
.main-condition-form{width:100%;padding:10px;background:#eeeef4;}
.main-condition-form .form-condition{border-radius:4px;background:#fafaff;box-shadow:0 0 2px rgba(9,2,4,0.3);}
.main-table{width:100%;height:100%;padding:10px;padding-top:1px;background:#eeeef4;overflow:auto;}
.main-table .table-wrap{padding:20px;padding-bottom:0;border-radius:4px;background:#fafaff;box-shadow:0 0 2px rgba(9,2,4,0.3);}
/*topbar*/
.topbar h1{font-family:"FZZYJW";font-size:28px;color:#fff;vertical-align:middle;font-weight:lighter;text-align:center;}
.topbar-nav{height:100%;font-size:0;position:relative;vertical-align:middle;}
.topbar-nav a{display:inline-block;padding:0 20px;height:100%;text-align:center;}
.topbar-nav a .icon{display:block;width:100%;margin-top:10px;height:50px;line-height:50px;text-align:center;font-size:28px;color:#fff;}
.topbar-nav a span{display:block;font-size:14px;color:#eeeef4;}
.topbar-nav a:hover{background:#3E5998;}
.topbar-nav a.more{position:absolute;right:0;}
/*sec-nav*/
.sec-nav a{display:block;font-size:16px;color:#fff;padding:0 20px;height:60px;line-height:60px;text-align:left;border-bottom:1px solid #2f313d;box-shadow:0 1px 1px #454858;}
.sec-nav .icon{font-size:18px;color:#ccc;margin-right:5px;}
.sec-nav .icon.car{font-size:14px;}
.sec-nav a:hover{background:#313440;}
.sec-nav a:hover .icon{color:#FF6900;}
.sec-nav-footer{position:absolute;left:0;bottom:0;background:#2f313d;width:100%;height:60px;line-height:60px;text-align:center;font-size:12px;color:#646988;font-weight:bold;}
/*main-content*/
.form-condition h2{font-size:14px;color:#393c4b;height:40px;line-height:40px;font-weight:lighter;background:#DDE8FA;padding-left:40px;position:relative;}
/*.form-condition h2:before{content:url(../img/setting.png);display:inline-block;position:absolute;left:10px;top:5px;}*/
.form-condition h2:before{content:"";width:40px;height:40px;background:url(../img/setting.png) no-repeat center center;display:inline-block;position:absolute;left:0;top:0;}
.input,.select{position:relative;display:inline-block;}
.input input,.select select{display:inline-block;background:#fafaff;border:0;border-bottom:1px dashed #ccc;width:350px;height:40px;padding-left:70px;margin:10px 20px;font-family:"微软雅黑";font-size:14px;color:#3e6372;}
.input input + span,.select select + span{display:inline-block;height:40px;line-height:40px;position:absolute;left:20px;top:10px;font-size:14px;color:#393c4b;}
.select select{outline:0;}
.select b{display:inline-block;width:20px;height:39px;line-height:39px;position:absolute;right:20px;top:50%;margin-top:-20px;background:#fafaff;}
.btn{border:0;outline:0;width:90px;height:30px;line-height:30px;border-radius:4px;background:#ff6900;font-size:14px;color:#fff;margin:10px;}
.btn:before{content:"";width:0;height:100%;display:inline-block;vertical-align:middle;}
.btn img{margin-right:10px;vertical-align:middle;}
.btn:hover{opacity:0.9;filter:alpha(opacity=90);}
.btn:active{opacity:1;filter:alpha(opacity=100);}
.table-wrap th{font-size:14px;color:#393c4b;font-family:"微软雅黑";font-weight:normal;border:1px solid #ccc;height:40px;line-height:40px;background:#EEEEF4;}
.table-wrap td{font-size:14px;color:#3e6372;font-family:"微软雅黑";font-weight:normal;border:1px solid #ccc;height:40px;line-height:40px;text-align:center;background:#fafaff;}
.table-wrap td a{color:#3c74c9;}
.table-footer{position:relative;text-align: center;}
.page-use{height:30px;line-height:30px;position:absolute;left:0;top:50%;margin-top:-15px;}
.page-use a{font-size:14px;color:#393c4b;margin-left:10px;}
.page-roll{font-size:0;position:absolute;left:50%;top:50%;transform:translate(-50%,-15px);-webkit-transform:translate(-50%,-15px);-ms-transform:translate(-50%,-15px);-moz-transform:translate(-50%,-15px);-o-transform:translate(-50%,-15px);;}
.page-roll a{display:inline-block;width:65px;height:30px;line-height:30px;font-size:14px;color:#666;margin-right:5px;border:1px solid #ccc;border-radius:4px;}
.page-roll a.ellipsis{border:0;background:none;}
.page-roll a.ellipsis:hover{background:none;color:#666;}
.page-roll a:hover,a.active{background:#3c74c9;color:#fff;border:0;}
.page-roll a.first:hover,a.last:hover{background:#e6e6e6;color:#666;}
